<launch>

    <!-- Load and spawn the robot -->
    <param name="robot_description" command="$(find xacro)/xacro $(find solidworks2ros_try31)/urdf/solidworks2ros_try31.urdf"/>
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model solidworks2ros_try31" />

    <!-- Launch Gazebo empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- Load the controller -->
    <rosparam file="$(find solidworks2ros_try31)/config/velocity_controller.yaml" />
    <node name="Controller_Spawner" pkg="controller_manager" type="spawner" args="  joint1_controller" />
    
    <!-- Add the controller_manager node -->
    <node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen"/>

    <!-- Load important nodes-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
    <node name="Robot_State_Publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <!-- <node name="rqt_reconfigure" pkg="rqt_gui" type="rqt_gui" output="screen" /> -->
        
</launch>
