<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="solidworks2ros_try1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.4409E-16 -1.3323E-15 -0.13251"
        rpy="0 0 0" />
      <mass
        value="939.86" />
      <inertia
        ixx="2643.5"
        ixy="-1.9222E-13"
        ixz="1.0497E-13"
        iyy="230.15"
        iyz="7.9816E-14"
        izz="2821.5" />
    </inertial>
    <visual>
      <origin
        xyz="1 1 1"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://solidworks2ros_try1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.72157 0.32941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://solidworks2ros_try1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>