<launch>

    <arg name="robot_name" />
    <arg name="init_pose" />

    <node name="spawn_multirobot_model" pkg="gazebo_ros" type="spawn_model" 
                                        args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)">
    </node>

    <node name="robot_State_Publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
   
</launch>
